.darkblue {
    color: #2474c9;
}

.darkgreen {
    color: #1b8429;
}
.center {
    text-align: center;
}

.darkred {
    background-color: rgb(169, 32, 32);
}

.item-h:hover {
    background-color: #035d1e;
    transition: background-color 0.5s;
}
